.header {
  display: flex;
}

/* .headeressai {
  display: flex;
} */

.imageHeader {
  margin-left: 100px;
  margin-top: 100px;
}

.h2Header {
  margin-top: 90px;
  margin-left: 30px;
}

.h2TheaandMom {
  color: #9900CC;
}

.h2Bijoux {
  color: #e9a9d7;
}

/* .leBouton {
  background-color: white;
  border: 1px solid #CC0099;
  color: #CC0099;
  ;
} */

.leBouton {
  margin-left: 1000px;
  margin-top: 130px;
  background-color: white;
  border: 1px solid #CC0099;
  color: #CC0099;
}

/* .leBouton button {
  color: #CC0099;
} */

/* nav */
.nav-link:hover {
  color: #CC0099 !important;
}

.nav-link-active {
  color: #CC0099;
}

.ensemblenav {
  display: flex;
  background-color: #fff5f5;
  margin-top: 15px;
}

.nav {
  margin-top: 10px;
  margin-left: 80px;
  /* background-color: #fff5f5; */
}

.nav-item a {
  color: black;
}

.nav-item a :active {
  color: #e9a9d7;
  color: red;
}

/* .ensemblenav {
  display: flex;
} */

.athemomcreation {
  margin-top: 40px;
  margin-left: 870px;
  text-decoration: none;
  color: black;
}

.facebook {
  margin-left: 20px;
}

/* accueil */
.h1accueil {
  text-align: center;
  color: #CC0099;
  margin-top: 80px;

}

.pAmourArtAccueil {
  color: #CC0099;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.texteAccueil {
  text-align: center;
  color: #9900CC;
  font-weight: bold;
  margin: 100px;
}

.aFacebookTexteAccueil {
  color: #9900CC;
  font-style: italic;
}

.fleuraccueil {
  border-radius: 50%;
}

.fleuraccueil2 {
  border-radius: 100%;
  margin-top: 90px;
}

.fleuraccueil3 {
  border-radius: 100%;
}

/* apropos */
.apropos {
  background-color: #fff5f5;
  padding-top: 5px;
}

.fleurMainTheaApropos {
  text-align: center;
  margin-top: 70px;
}

.fleurMainTheaApropos img {
  border-radius: 100%;
  width: 15%;

}

.texteApropos {
  text-align: center;
  margin-top: 70px;
}

.texteApropos h1 {
  color: #CC0099;
  margin-bottom: 50px;
}

.texteApropos {
  margin-left: 400px;
  margin-right: 400px;
  color: #9900CC;
  font-weight: bold;
}

.facebookTexteApropos {
  color: #9900CC;
}

/* contact */
.container {
  padding-top: 150px;
}

.h3Contact {
  color: #CC0099;
  margin-left: 10px;
  margin-top: 40px;
}

/* .nousContacter {
  text-align: center;
} */

.aContact {
  color: #9900CC;
  text-decoration: none;
}

/* formulaire */
.formulaire {
  text-align: center;
  margin-top: 200px;
}

.h2Formulaire {
  color: #9900CC;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* contact */
.contact {
  max-width: 500px;
  margin: 0 auto;

}

.contact label {
  text-align: left;
}

.contact_form {
  display: flex;
  flex-direction: column;
  padding: 1rem;

}

input {
  border: none;
  padding: 10px;
  border-bottom: 1px solid black;
}

.btnContact {
  margin-top: 20px;
  background-color: black;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.pMerciEnvoi {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.aFormulaire {
  text-decoration: none;
  color: #CC0099;
  padding-bottom: 30px;
}

.facebook {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* footer */
.footer {
  background-color: #fff5f5;
  text-align: center;
  color: #CC0099;
}

.aDelphine {
  color: #CC0099;
}